* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



//   variables

$primary:#0D62A8;
$secondary:#4AAF52;
$black:#000000;
$theme:#4D4D4D;
$white:#fff;

//color 



@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

@font-face {
  font-family: "apon-reg", sans-serif;
  src: url(../fonts/NimbusSanL-Reg.otf);
}

@font-face {
  font-family: "apon-ita", sans-serif;
  src: url(../fonts/NimbusSanL-RegIta.otf);
}

@font-face {
  font-family: "apon-bold", sans-serif;
  src: url(../fonts/NimbusSanL-Bol.otf);
}

body {
  font-family: "apon-reg", sans-serif;
}

// header section ---
.header {
  padding: 15px 0;

  .header-portion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .mobile-menu-icon {
      position: absolute;
      right: 0;
      display: none;
      font-size: 2.4rem;
      top: 15px;
      border: 1px solid #3b7cff;
      color: #3b7cff;
      cursor: pointer;

      @media(max-width:768px) {
        display: block;
      }
    }

    .menu-content {
      display: block;
      position: fixed;
      top: 0px;
      background: #623bff;
      left: -250px;
      width: 250px;
      bottom: 0;
      z-index: 3;
      padding: 20px 15px;
      transition: all 0.4s ease;

      &.active {
        box-shadow: 6px 3px 20px -9px;
        left: 0;
      }

      .profile {
        display: flex;
        flex-direction: column;
        width: 100%;

        justify-content: center;
        align-items: center;

        img {
          max-width: 90px;
        }

        h6 {
          margin-top: 10px;
          color: #f7f7f7;
        }
      }

      .cash {
        font-size: 14px;
        padding: 8px 3px;
        text-align: center;
        background: #724fff;
        color: #e2d5d7;

        p {
          margin: 0;
        }
      }

      .menuItems {
        ul {
          margin-top: 17px;
          padding: 0;
          margin-bottom: 0;

          li {
            list-style: none;

            a {
              display: block;
              color: #fff;
              font-size: 14px;
              padding: 5px 12px;
              margin: 4px 0;
              border-radius: 3px;
              text-decoration: none;

              &:hover {
                background: #7352F7;
              }
            }
          }
        }
      }

      .close {
        position: absolute;
        color: #fff;
        top: 12px;
        right: 15px;
        font-size: 2rem;
      }
    }

    .brand {
      flex-basis: 190px;

      @media(max-width:768px) {
        flex-basis: 100%;
        text-align: center;
      }
    }

    .category {
      flex-basis: 190px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .form-control {
        border: 0;
        background: #EDF3F8;
        padding: 6px 6px;
        height: 44px;
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &:focus {
          box-shadow: none;
          background: #3b7cff26;
        }
      }
    }

    .buttons_link {
      flex-basis: 290px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      column-gap: 10px;
      padding: 0 10px;

      @media(max-width:768px) {
        flex-basis: 100%;
        padding: 0;
        margin: 9px 0;
      }

      button {
        flex: 1;
      }
    }

    .search {
      flex: 1;
      display: flex;
      align-items: center;

      form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .search-box {
          position: relative;
          display: flex;
          width: 100%;

          .medicineSearch {
            border: 0;
            background: #EDF3F8;
            padding: 10px 15px;
            border-left: 1px solid #d8d8d8;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            outline: 0;

            &:focus {
              box-shadow: none;
              background: #3b7cff26;
            }
          }

          .searchButton {
            width: 54px;
            border: 0;
            background: #3b7cff;
            color: #ffffff;
            font-size: 26px;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0;
            height: 37px;

            &:hover {
              background: lighten($color: $primary, $amount: 10%);
            }
          }
        }
      }

    }

    .links {
      flex-basis: 190px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media(max-width:768px) {
        flex-basis: 100%;
        margin-top: 7px 0;
      }

      a {
        font-size: 2.8rem;
        margin: 0 6px;
      }
    }
  }
}

//-------------------

// slider ==============
.swiper-container {
  width: 100%;
  height: 400px;

  @media(max-width:768px) {
    height:223px;
  }
  @media(max-width:600px) {
    height:175px;
  }

  @media(max-width:480px) {
    height: 140px!important;    
  }

  @media(max-width:425px) {
    height: 121px !important;
  }
}

.swiper-slide {
  color: #000;
  text-align: center;
  padding: 0px;
}

.swiper-wrapper {
  height: auto;
}

//===============

//instruction

.instruction {
  padding: 50px 0;
  background: #F0F2F5;

  a {
    .infoBox {
      background: #fff;
      text-align: center;
      border: 1px solid #ececec;
      margin: 10px 0;
      padding: 30px 0;
      border-radius: 9px;
      transition: all 0.3s ease-in-out;
      position: relative;

      .tag {
        position: absolute;
        right: 15px;
        top: -11px;
        width: 84px;
        font-size: 14px;
        height: 121px;
        color: #fff;
        padding: 10px;
        background: #62ae43;
        line-height: 18px;
        text-transform: capitalize;

        &:before {
          content: '';
          height: 0;
          width: 0;
          border-top: 5px solid transparent;
          border-right: 5px solid transparent;
          border-left: 5px solid #4a7f34;
          border-bottom: 5px solid #4c7b38;
          position: absolute;
          right: -10px;
          top: 1px;
        }

        &:after {
          content: '';
          height: 60px;
          width: 61px;
          left: 0;
          right: 0;
          bottom: -31px;
          background: #ffffff;
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
          margin: 0 auto;
          position: absolute;
        }
      }

      .title {
        font-size: 1.5rem;
        margin-top: 5px;
        color: #353534;
        border-radius: 25px;
        padding: 9.4px 9px;
        display: inline-block;
        width: 72%;
        transition: all 0.3s ease-in-out;

        @media(max-width:768px) {
          font-size: 1.2rem;
        }

        small {
          font-size: 15px;
          color: #4a80aa;
        }
      }

      img {
        transition: all 0.3s ease-in-out;

        @media(max-width:768px) {
          width: 40% !important;
        }
      }
    }


    &:hover {

      .infoBox {
        -webkit-box-shadow: -1px 8px 20px 20px #00000014;
        box-shadow: -1px 8px 20px 20px #af9e9e14;
      }

      img {
        transform: translateY(-3px);
      }

      .title {
        color: $primary;
      }
    }
  }




}

//howTo

.howTo {
  padding: 50px 0;
  background: #fff;

  .title {
    font-size: 1.125rem;
  }

  .process {
    margin: 25px 0;

    li {
      line-height: 34px;
      margin-bottom: 10px;
      list-style-type: none;

      .marker {
        height: 30px;
        width: 30px;
        color: #fff;
        background: #6ba7ff;
        margin-right: 7px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #1a8aea;

      }
    }
  }
}

//productSlider
.productSlider {
  .coating {
    position: relative;
    height: 390px;

    .slider {
      .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
          margin-right: 5px;
          padding: 5px;
          background: #000;
          border-radius: 50%;
          cursor: pointer;
        }

        li:last-child {
          margin: 0;
        }
      }

      .slides {
        display: flex;

        img {
          margin: 0 auto;
          max-height: 200px;
          width: 100%;
        }
      }

      .arrow {
        position: absolute;
        top: 30%;
        z-index: 2;
        cursor: pointer;
        padding: 15px;
        border-radius: 5px;


        i {
          font-size: 32px;
        }

        &.prev {
          left: -45px;

          @media(max-width:600px) {
            display: none !important;
          }
        }

        &.next {
          right: -45px;

          @media(max-width:600px) {
            display: none !important;
          }
        }
      }
    }
  }

  .addCart {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 9px;
    padding: 0 4px;

    .iconify {
      font-size: 20px;

      &:hover {
        color: $primary;
        cursor: pointer;
      }
    }

    .addTocart {
      border: 0;
      padding: 7px 12px;
      vertical-align: middle;
      border-radius: 25px;
      font-size: 14px;
      outline: 0;
      background-color: $primary;
      color: $white;
      font-size: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .iconify {
        font-size: 15px;
      }

      &:hover {
        background-color: $secondary;
      }
    }
  }

  .product-price {
    display: block;
    margin-top: 8px;
  }
}

.section-title {
  text-transform: capitalize;
  margin-bottom: 25px;
  padding: 6px 14px;
  position: relative;
  font-size: 23px;
  border-bottom: 2px solid;

  a {
    position: absolute;
    right: 0;
    font-size: 14px;
    top: 6px;
    padding: 6px 12px;
    border-radius: 4px;
  }

  &.maroon {
    color: $white;
    background: linear-gradient(45deg, maroon 22%, transparent 5%);
    border-color: maroon;

    @media(max-width:768px) {
      background: linear-gradient(45deg, maroon 40%, transparent 5%);
    }

    a {
      background: maroon;
      color: $white;
      text-decoration: none;
    }
  }

  &.purple {
    color: $white;
    background: linear-gradient(45deg, #B23E94 22%, transparent 5%);
    border-color: #B23E94;

    @media(max-width:768px) {
      background: linear-gradient(45deg, #B23E94 40%, transparent 5%);
    }

    a {
      background: #B23E94;
      color: $white;
      text-decoration: none;
    }
  }

  &.lightblue {
    color: $white;
    background: linear-gradient(45deg, #00BAE5 22%, transparent 5%);
    border-color: #00BAE5;

    @media(max-width:768px) {
      background: linear-gradient(45deg, #00BAE5 40%, transparent 5%);
    }

    a {
      background: #00BAE5;
      color: $white;
      text-decoration: none;
    }
  }

  &.pink {
    color: $white;
    background: linear-gradient(45deg, #FF3A97 22%, transparent 5%);
    border-color: #FF3A97;

    @media(max-width:768px) {
      background: linear-gradient(45deg, #FF3A97 40%, transparent 5%);
    }

    a {
      background: #FF3A97;
      color: $white;
      text-decoration: none;
    }
  }

  &.orange {
    color: $white;
    background: linear-gradient(45deg, #ed4336 22%, transparent 5%);
    border-color: #ed4336;

    @media(max-width:768px) {
      background: linear-gradient(45deg, #ed4336 40%, transparent 5%);
    }

    a {
      background: #FF4635;
      color: $white;
      text-decoration: none;
    }
  }
}

.w-97 {
  width: 97%;
}

footer {
  background: #007FF8;

  .nav-item {
    a {
      font-size: 14px;
    }
  }

  .social-sites {
    li {
      a {
        .iconify {
          font-size: 25px;
        }
      }
    }
  }
}